
pandas
mlflow
notebook
numpy
scikit-learn
matplotlib
python-box
PyYAML
tqdm
ensure
joblib
plotly
seaborn
types-PyYAML
Flask
Flask-Cors

tensorflow            
keras                          
tensorboard

transformers            
datasets                
accelerate              
bitsandbytes            
peft                    
sentence-transformers   


langchain               
langchain-community     
langgraph               
pydantic-ai             



-e .